.git
.github
.nox
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.tox
.hypothesis
.coverage
htmlcov
site
node_modules
dist
build
*.egg-info

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

tests/test_federation/compatibility/results.md
tests/test_federation/compatibility/schema.graphql
tests/test_federation/compatibility/supergraph*.yaml
tests/test_federation/compatibility/supergraph.graphql
