/*
Layout
*/
body {
    color: #bbbbbb;

    .wy-grid-for-nav {

        /*
        Sidebar
        */
        nav.wy-nav-side {
            .wy-side-scroll {
                overflow-y: auto;

                /*
                Search bar
                */
                .wy-side-nav-search {
                    background: #191919;

                    input[type=text] {
                        background: #222222;
                        color: #bbbbbb;
                        box-shadow: none;
                        caret-color : #bbbbbb;
                        border-color: #0e0e0e;
                    }
                }

                /*
                Sidebar items
                */
                .wy-menu-vertical li[class^='toctree-'],
                .wy-menu-vertical li[class^='toctree-'] > a {
                    color: #bbbbbb;
                    background: #343131;
                    border: none;
                }

                /*
                Selected/Hovered sidebar items
                */
                .wy-menu-vertical li[class^='toctree-'].current,
                .wy-menu-vertical li[class^='toctree-'].current > a,
                .wy-menu-vertical li[class^='toctree-'].current > a:hover,
                .wy-menu-vertical li[class^='toctree-'] > a:hover {
                    color: #bbbbbb;
                    background: #2d2d2d;
                    border: none;
                }

            }
        }

        /*
        Content
        */
        section.wy-nav-content-wrap {
            background: #222222;

            .wy-nav-content {
                background: #222222;
                max-width: 1024px;
                margin: auto;
            }
        }

    }
}

/*
Codeblocks
*/
.highlight {
    border: 1px solid #121212 !important;
    border-radius: 6px;

    div {
        margin: 0;
        padding: 0;
    }

    table {
        margin: 0 !important;
        padding: 0 !important;
        display: block;

        td.linenos {
            color: #bbbbbb !important;
            background: #111111 !important;
            border: none !important;
            padding: 0;
            margin: 0;
            white-space: break-spaces;
            vertical-align: middle;

            div {
                pre {
                    padding: 0 8px;
                    background: #111111;
                    border-right: 1px solid #404040;

                    span {
                        a {
                            color: #404d60;
                        }
                    }
                }
            }

        }

        td.code {
            color: #bbbbbb !important;
            background: #111111 !important;
            border: none !important;
            padding: 0;
            margin: 0;
            white-space: break-spaces;
            vertical-align: middle;

            div {
                pre {
                    padding: 0;
                    margin: 0;

                    code {
                        color: #bbbbbb;
                        background: #111111;
                        padding: 8px 12px;
                        border: none;

                        /* Highligh keyword argument keywords (not perfect) */
                        .p + .n:has( + .o) { color: #aa4926 }
                    }
                }
            }

        }

    }
}

/*
Inline code
*/
p > code {
    color: #bbbbbb !important;
    background: #121212 !important;
    border: 1px solid #121212 !important;
    border-radius: 3px !important;
}

/*
Scrollbars
*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #222222;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: #202020;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #424242;
}

/*
Blockquotes
*/
blockquote {
    background: #323232;
    border: 2px solid #363636;
    border-left: 4px solid #2980b9;
    margin-left: 0;
    padding: 16px 12px 16px 24px;

    p {
        margin: 0;
    }

    code {
        line-height: normal;
    }
}

/*
Mermaid
*/
div.mermaid {
    display: flex;
    justify-content: center;

    svg {
        width: auto;
        height: auto;
        max-width: 100%;
        padding: 12px 0;
    }

    .edgeLabel {
        background-color: transparent;
        color: #bbbbbb;
    }

    .messageText {
        fill: #bbbbbb;
        stroke: none;
    }

    g {
        rect {
            fill: #DAE8FC;
            stroke: #6C8EBF;
        }
        polygon {
            fill: #FFF2CC;
            stroke: #E5D092;
        }
    }
}
