<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>GraphQL over Server-Sent Events testing (Single Connection)</title>
</head>
<body>

<h1>GraphQL over Server-Sent Events testing (Single Connection)</h1>
<a style="display:block" href="{% url 'sse_testing_dc' %}">Distinct Connections</a>
<textarea id="log" cols="120" rows="50"></textarea>
<br>
<button id="force-login">Force Login (admin)</button>
<button id="reserve-connection">Reserve Connection</button>
<button id="get-connection">Get Connection</button>
<button id="send-subscribe">Subscribe [1]</button>
<button id="cancel-subscription">Cancel Subscription [1]</button>
<button id="send-subscribe-2">Subscribe [2]</button>
<button id="cancel-subscription-2">Cancel Subscription [2]</button>
<button id="close-event-source">Close Source</button>
<button id="clear">Clear</button>
{% csrf_token %}

<script>
  /** @type {EventSource} */
  let eventSource;
  /** @type {string} */
  let token;

  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

  function createEventSource() {
    const currentURL = new URL(window.location.href)

    currentURL.pathname = "/graphql/";
    currentURL.searchParams.set("token", token)
    const url = currentURL.href;

    console.log("Connecting to", url);
    const source = new EventSource(url);
    console.log("Connected to", url);

    source.addEventListener("next", (e) => {
      console.log("Received next message", e);
      const payload = JSON.parse(e.data);
      document.querySelector("#log").value += ("Next [" + payload.id + "]: " + JSON.stringify(payload.data) + "\n");
    });

    source.addEventListener("complete", (e) => {
      console.log("Received completed message", e);
      const payload = JSON.parse(e.data);
      document.querySelector("#log").value += ("Complete [" + payload.id + "]\n");
    });

    source.addEventListener("open", (e) => {
      console.log("EventSource open", e);
      document.querySelector("#log").value += ("Opened\n");
    });

    source.addEventListener("error", (e) => {
      if (e.target.readyState === EventSource.CONNECTING) {
        console.log("Connection lost, closing EventSource");
        source.close();
        document.querySelector("#log").value += ("Error: connection lost, closed\n");
      } else {
        console.error("EventSource error", e);
        document.querySelector("#log").value += ("Error\n");
      }
    });

    return source;
  }

  window.addEventListener("beforeunload", (e) => {
    console.log("Closing before unload", e);
    if (eventSource !== undefined) {
      eventSource.close();
    }
  });

  document.querySelector("#reserve-connection").onclick = async (e) => {
    const currentURL = new URL(window.location.href)

    currentURL.pathname = "/graphql/";
    const url = currentURL.href;

    const result = await fetch(url, {
      method: "PUT",
      headers: {
        "Accept": "text/plain",
        "X-CSRFToken": csrftoken,
      },
      credentials: "include",
    });

    if (result.status !== 201) {
      const error_data = JSON.stringify(await result.json());
      console.error("Could not reserve connection:", error_data);
      document.querySelector("#log").value += ("Could not reserve connection: " + error_data + "\n");
      return;
    }
    token = await result.text();

    console.log("Reserved with token:", token);
    document.querySelector("#log").value += ("Reserved with token: " + token + "\n");
  };

  document.querySelector("#get-connection").onclick = async (e) => {
    if (eventSource !== undefined && eventSource.readyState !== EventSource.CLOSED) {
      const state = eventSource.readyState === EventSource.CONNECTING ? "still connecting" : "connection open";
      console.log("Cannot create new source:", state);
      document.querySelector("#log").value += ("Cannot create new source: " + state + "\n");
      return;
    }

    eventSource = createEventSource();
  };

  document.querySelector("#send-subscribe").onclick = async (e) => {
    const currentURL = new URL(window.location.href)

    currentURL.pathname = "/graphql/";
    const url = currentURL.href;

    const result = await fetch(url, {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
        "X-GraphQL-Event-Stream-Token": token,
        "X-CSRFToken": csrftoken,
      },
      credentials: "include",
      body: JSON.stringify({
        query: "subscription { countdown }",
        extensions: {
          operationId: "1",
        },
      }),
    });

    if (result.status !== 202) {
      const error_data = JSON.stringify(await result.json());
      console.error("Could not subscribe [1]:", error_data);
      document.querySelector("#log").value += ("Could not subscribe [1]: " + error_data + "\n");
      return;
    }

    console.log("Subscribed [1]");
    document.querySelector("#log").value += ("Subscribed [1]\n");
  };

  document.querySelector("#cancel-subscription").onclick = async (e) => {
    const currentURL = new URL(window.location.href)

    currentURL.pathname = "/graphql/";
    currentURL.searchParams.set("operationId", "1")
    const url = currentURL.href;

    const result = await fetch(url, {
      method: "DELETE",
      headers: {
        "Accept": "text/plain",
        "X-GraphQL-Event-Stream-Token": token,
        "X-CSRFToken": csrftoken,
      },
      credentials: "include",
    });

    if (result.status !== 200) {
      const error_data = JSON.stringify(await result.json());
      console.error("Could not cancel subscription [1]:", error_data);
      document.querySelector("#log").value += ("Could not cancel subscription [1]: " + error_data + "\n");
      return;
    }

    console.log("Canceled subscription [1]");
    document.querySelector("#log").value += ("Canceled subscription [1]\n");
  };

  document.querySelector("#send-subscribe-2").onclick = async (e) => {
    const currentURL = new URL(window.location.href)

    currentURL.pathname = "/graphql/";
    const url = currentURL.href;

    const result = await fetch(url, {
      method: "POST",
      headers: {
        "Accept": "application/json",
        "Content-Type": "application/json",
        "X-GraphQL-Event-Stream-Token": token,
        "X-CSRFToken": csrftoken,
      },
      credentials: "include",
      body: JSON.stringify({
        query: "subscription { countdown }",
        extensions: {
          operationId: "2",
        },
      }),
    });

    if (result.status !== 202) {
      const error_data = JSON.stringify(await result.json());
      console.error("Could not subscribe [2]:", error_data);
      document.querySelector("#log").value += ("Could not subscribe [2]: " + error_data + "\n");
      return;
    }

    console.log("Subscribed [2]");
    document.querySelector("#log").value += ("Subscribed [2]\n");
  };

  document.querySelector("#cancel-subscription-2").onclick = async (e) => {
    const currentURL = new URL(window.location.href)

    currentURL.pathname = "/graphql/";
    currentURL.searchParams.set("operationId", "2")
    const url = currentURL.href;

    const result = await fetch(url, {
      method: "DELETE",
      headers: {
        "Accept": "text/plain",
        "X-GraphQL-Event-Stream-Token": token,
        "X-CSRFToken": csrftoken,
      },
      credentials: "include",
    });

    if (result.status !== 200) {
      const error_data = JSON.stringify(await result.json());
      console.error("Could not cancel subscription:", error_data);
      document.querySelector("#log").value += ("Could not cancel subscription [2]: " + error_data + "\n");
      return;
    }

    console.log("Canceled subscription [2]");
    document.querySelector("#log").value += ("Canceled subscription [2]\n");
  };

  document.querySelector("#close-event-source").onclick = (e) => {
    if (eventSource === undefined || eventSource.readyState === EventSource.CLOSED) {
      console.log("Source already closed");
      document.querySelector("#log").value += ("Source already closed\n");
      return;
    }
    console.log("Closed manually");
    document.querySelector("#log").value += ("Closed manually\n");
    eventSource.close();
  };

  document.querySelector("#clear").onclick = (e) => {
    document.querySelector("#log").value = "";
  };

  document.querySelector("#force-login").onclick = async (e) => {
    const result = await fetch("{% url 'force_login' %}", {
      method: "POST",
      headers: {
        "X-CSRFToken": csrftoken,
      },
      credentials: "include",
    });

    const data = await result.json();
    if (result.ok) {
      document.querySelector("#log").value += ("Logged in as: " + data.user + "\n");
    } else {
      document.querySelector("#log").value += ("Login failed: " + JSON.stringify(data) + "\n");
    }
  };
</script>

</body>
</html>
