<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>GraphQL over Websocket testing</title>
  <style>
    body {
      background: hsl(219, 29%, 18%);
      color: hsl(219, 29%, 78%);
      font-family: system-ui, sans-serif;
    }
    h1 { color: hsl(219, 29%, 78%); }
    a { color: hsl(338, 100%, 67%); display: block; }
    textarea {
      background: hsl(219, 29%, 14%);
      color: hsl(219, 29%, 78%);
      border: 1px solid hsla(219, 29%, 78%, 0.15);
      font-family: monospace;
    }
    button {
      background: hsla(219, 29%, 78%, 0.15);
      color: hsl(219, 29%, 78%);
      border: 1px solid hsla(219, 29%, 78%, 0.15);
      padding: 6px 12px;
      cursor: pointer;
      border-radius: 4px;
    }
    button:hover { background: hsla(219, 29%, 78%, 0.25); }
  </style>
</head>
<body>

<h1>GraphQL over Websocket testing</h1>
<textarea id="log" cols="120" rows="50"></textarea>
<br>
<button id="create-websocket">Create WebSocket</button>
<button id="send-connection-init">Connection Init</button>
<button id="send-ping">Send Ping</button>
<button id="send-pong">Send Pong</button>
<button id="send-query">Query</button>
<button id="send-subscribe">Subscribe</button>
<button id="send-complete-message">Complete Message</button>
<button id="send-close-connection">Close Connection</button>
<button id="clear">Clear</button>

<script>
  let allowNewWebSocket = false;

  function createWebSocket() {
    const currentURL = new URL(window.location.href)

    currentURL.pathname = "/{{ ws_path }}";
    const url = currentURL.href;

    console.log("Connecting to", url);
    const webSocket = new WebSocket(url, "graphql-transport-ws");
    console.log("Connected to", url);

    webSocket.onopen = (e) => {
      console.log("Socket opened", e);
      document.querySelector("#log").value += ("Opened: " + e.type + "\n");
      allowNewWebSocket = false;
    };
    webSocket.onclose = (e) => {
      console.error("Socket closed", e);
      document.querySelector("#log").value += ("Closed: (" + e.code + ") " + e.reason + "\n");
      allowNewWebSocket = true;
    };
    webSocket.onerror = (e) => {
      console.error("Socket error", e);
      document.querySelector("#log").value += ("Error: " + e.type + "\n");
    };
    webSocket.onmessage = (e) => {
      console.log("Received message", e);
      document.querySelector("#log").value += ("Received: " + e.data + "\n");
    };
    allowNewWebSocket = false;
    return webSocket;
  }

  let webSocket = createWebSocket();

  window.addEventListener("beforeunload", (e) => {
    console.log("Closing socket", e);
    webSocket.close(1000, "Closing connection");
    allowNewWebSocket = true;
  });

  document.querySelector("#create-websocket").onclick = (e) => {
    if (allowNewWebSocket) {
      webSocket = createWebSocket();
    } else {
      console.log("Cannot create new WebSocket, already connected");
      document.querySelector("#log").value += ("WebSocket already exists" + "\n");
    }
  };

  document.querySelector("#send-connection-init").onclick = (e) => {
    const message = {
      type: "connection_init",
      payload: {
        message: "Hello!",
      },
    }
    send(message);
  };

  document.querySelector("#send-ping").onclick = (e) => {
    const message = {
      type: "ping",
      payload: {
        timestamp: Date.now(),
      },
    }
    send(message);
  };

  document.querySelector("#send-pong").onclick = (e) => {
    const message = {
      type: "pong",
      payload: {
        timestamp: Date.now(),
      },
    }
    send(message);
  };

  document.querySelector("#send-query").onclick = (e) => {
    const message = {
      type: "subscribe",
      id: "1",
      payload: {
        operationName: "TestOperation",
        query: "query TestOperation { tasks { pk name } }",
        variables: {},
        extensions: {},
      },
    }
    send(message);
  };

  document.querySelector("#send-subscribe").onclick = (e) => {
    const message = {
      type: "subscribe",
      id: "2",
      payload: {
        operationName: null,
        query: "subscription { countdown }",
        variables: {},
        extensions: {},
      },
    }
    send(message);
  };

  document.querySelector("#send-complete-message").onclick = (e) => {
    const message = {
      type: "complete",
      id: "2",
    }
    send(message);
  };

  document.querySelector("#send-close-connection").onclick = (e) => {
    console.log("Closing socket normally");
    webSocket.close(1000, "Normal closure");
    allowNewWebSocket = true;
  };

  document.querySelector("#clear").onclick = (e) => {
    document.querySelector("#log").value = "";
  };

  function send(message) {
    console.log("Sent:", message);
    const data = JSON.stringify(message)
    document.querySelector("#log").value += ("Sent: " + data + "\n");
    webSocket.send(data);
  }
</script>

</body>
</html>
